/* Global settings */

body {
  margin: 0;
  background-color: #eee;
}

.console {
  width: 340px;
  height: 610px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 100px auto 100px  auto;
  background-color: #fff;
}

.screen {
  width: 357px;
  height: 556px;
  overflow-y: scroll;
/*   padding: 20px 20px 0 20px; */
}

p {
  margin: 0;
}

.divider {
  border-top: #eee;
  margin: 0 0 20px 0;
}

a {
  color: black;
  text-decoration: none;
}

/* Thumbnail settings */

.videoPost {
  margin: 0 20px;
}

.videoPost .thumbnail img {
  width: 100%;
  height: 180px;
}

/* User pic and username settings */

.videoPost .userPicture {
  width: 20%;
  float: left;
}

.videoPost .userPicture img {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.videoPost .username {
  font-size: 14px;
  color: #555;
}

/* Video title settings */

.videoPost .userInfo {
  overflow: hidden;
  height: auto;
  margin: 10px 0;
}

.videoPost .videoInfo {
  width: 80%;
  float: left;
}

.videoPost .videoTitle {
  margin-bottom: 4px;
  font-size: 18px;
}


/* TopBar Settings */
.topBar {
  height: 50px;
  overflow: hidden;
  box-shadow: 0 1px 4px .4px #eee;
  margin-bottom: 20px;
}

.topBar .logo {
  width: 40%;
  height: 50px;
  float: left;
}

.topBar .logo img {
  width: 120px;
  height: 50px;
}

.topBar .nav {
  width: 60%;
  float: left;
  height: 50px;
}

.topBar .nav .userr img {
  width: 25px;
  height: 25px;
}

.topBar .nav .record img, .topBar .nav .search img {
  width: 20px;
  height: 20px;
}

.topBar .userr img {
  border-radius: 50%;
}

.topBar ul {
  margin: 0;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
}

.topBar li {
  display: inline-block;
  padding-right: 20px;
}


/* Bottom bar settings */

.bottomBar {
  width: 100%;
  height: auto;
  border-top: 1px solid #eee;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 8px 0;
  margin: 0;
}

.bottomBar .buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  text-align: center;
}

.bottomBar .buttons img {
  width: 25px;
  height: 20px;
}

.bottomBar .buttons p {
  font-size: 10px;
}